In [2]:
import numpy as np
import pandas as pd

import os
import sys
from pathlib import Path
sys.path.append('../src')

In [4]:
Path.cwd()

PosixPath('/Users/cris/Iron/reto_data')

In [88]:
dataframe_csv = pd.read_csv('data-inputs/measurements.csv')
dataframe_xlxs = pd.read_excel('data-inputs/measurements2.xlsx', engine='openpyxl')

In [89]:
dataframe_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   distance       388 non-null    object
 1   consume        388 non-null    object
 2   speed          388 non-null    int64
 3   temp_inside    376 non-null    object
 4   temp_outside   388 non-null    int64
 5   specials       93 non-null     object
 6   gas_type       388 non-null    object
 7   AC             388 non-null    int64
 8   rain           388 non-null    int64
 9   sun            388 non-null    int64
 10  refill liters  13 non-null     object
 11  refill gas     13 non-null     object
dtypes: int64(5), object(7)
memory usage: 36.5+ KB

In [90]:
dataframe_xlxs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   distance       388 non-null    float64
 1   consume        388 non-null    float64
 2   speed          388 non-null    int64
 3   temp_inside    376 non-null    float64
 4   temp_outside   388 non-null    int64
 5   specials       93 non-null     object
 6   gas_type       388 non-null    object
 7   AC             388 non-null    int64
 8   rain           388 non-null    int64
 9   sun            388 non-null    int64
 10  refill liters  13 non-null     float64
 11  refill gas     13 non-null     object
dtypes: float64(4), int64(5), object(3)
memory usage: 36.5+ KB

In [91]:
dataframe_csv.head(3)

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28,5,26,"21,5",12,NaN,E10,0,0,0,45,E10
1,12,"4,2",30,"21,5",13,NaN,E10,0,0,0,NaN,NaN
2,"11,2","5,5",38,"21,5",15,NaN,E10,0,0,0,NaN,NaN

In [92]:
dataframe_xlxs.head(3)

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28.0,5.0,26,21.5,12,NaN,E10,0,0,0,45.0,E10
1,12.0,4.2,30,21.5,13,NaN,E10,0,0,0,NaN,NaN
2,11.2,5.5,38,21.5,15,NaN,E10,0,0,0,NaN,NaN

**Keeping xlxs version as it differenciates float dtype in columns**

**example iloc condition**
     - df[(df['MRP'] <= 2000) & (df['Discount'] > 0)]

In [93]:
df = dataframe_xlxs.copy()
df = df.rename(columns ={'temp_inside':'t_in', 'temp_outside':'t_out','specials':'spexs', 'gas_type':'gas','AC':'ac','refill liters':'ref_lts', 'refill gas':'ref_gas'})
df.spexs = df.spexs.replace(['AC rain','AC','rain','snow','AC snow','half rain half sun','sun','AC sun','sun ac','ac','AC Sun','ac rain'], 
['ac_rain', 'ac', 'rain', 'snow', 'ac_snow', 'half_rain_sun', 'sun', 'ac_sun', 'ac_sun', 'ac', 'ac_sun', 'ac_rain'])
df = df.drop(['spexs','ref_lts','ref_gas'], axis = 1)

In [94]:
print(df["t_in"].value_counts(),"\n","\n", "mean: ",df["t_in"].mean(), "\n", "median: ",df["t_in"].median())
df["t_in"].fillna(value=22.0, inplace=True)
#df["t_in"].mean()
#df["t_in"].median()
#df["temp_inside"].fillna(value=21.9, inplace=True)
#df["temp_inside"].value_counts()

21.5    133
22.0    102
22.5     59
20.0     25
21.0     13
23.0     13
25.0     12
24.5      7
20.5      4
24.0      3
25.5      2
23.5      2
19.0      1
Name: t_in, dtype: int64

 mean:  21.929521276595743
 median:  22.0

In [95]:
df.shape

(388, 9)

In [96]:
df.to_csv('data-processed/measurements2_clean_withna.csv', index=False)

In [97]:
df = df.dropna().reset_index(drop=True)

In [98]:
df.to_csv('data-processed/measurements2_clean_withoutna.csv', index=False)

In [100]:
df.shape

(388, 9)